<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="referrer" content="no-referrer" />
</head>
<script src="/js/jquery-3.6.0.js"></script>

<script>
    window.onload=function(){
        getPosition()
        getUsernameAndAvator()
    }
    function getPosition(){
        $.get({
            url:"/user/getPosition",
            success:function (data){
                if(data==1||data==2){
                    let adminControl=document.getElementById("adminControl")
                    adminControl.style.display="block"
                }
            }
        })
    }
    function getUsernameAndAvator(){
        $.get({
            url:"/user/getUsernameAndAvator",
            success:function (data){
                $("#topUsername").html(data.split(";")[0])
                let topAvator=document.getElementById("topAvator")
                topAvator.src=data.split(";")[1]
            }
        })
    }
</script>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .top{

        height: 5%;
        justify-content:center;
        vertical-align: middle;
        font-weight: 600;
        width: 100%;
        border:2px solid black;
        position: fixed;
        font-size: 22px;
        z-index: 3;
        background-color: black;
    }
    .content{
        top: 145px;
        width: 100%;
        position: absolute;
    }
    button{
        cursor: pointer;
    }
</style>
<body>

<div class="top">
    <a href="/testMain">
        <img src="https://i0.hdslb.com/bfs/face/50d88bdca85f54280463cdb7126201565be7a52b.jpg@128w_128h_1o.webp" width="100px" height="35px" style="float:left" alt="">
    </a>
    <a href="/"><button style="float: right;color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 12px;">退出</button></a>

    <!--    <span><a href=""><button  style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;">反馈</button></a></span>-->
    <a href="/goPerson" target="_blank">
        <span style="float: right;margin-right: 30px;"><button style="color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 18px;" id="topUsername"></button></span>
        <img src="" alt="" id="topAvator" style="border-radius:35px;height: 35px;width: 35px;float: right;margin-right: 15px;">
    </a>
    <a href="/goAdminController" target="_blank">
        <button id="adminControl" style="display: none;float: right;color: white;margin-left: 70px;margin-right: 30px;height: 35px;width: 130px;background-color: #ff6a00;outline: none;border: none;font-size: 18px">管理员控制台</button>
    </a>
    <!--    <span style="float: right;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;cursor: auto">天气</button></span>-->
    <!--    <span style="float: right;padding-right: 50px;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color:black;font-size: 22px;cursor: auto">城市</button></span>-->
</div>


<div class="content">
    <div style="width: 60%;margin-left: 20%" >
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
<!--        <img src="images/slecd_1.png" alt="" style="height: 200px;width: 200px">-->
        <div th:each="picWallUrl:${picWallUrl}" style="display: inline">
            <img th:src="${picWallUrl}" alt="" style="height: 200px;width: 200px" name="animalsPic">
        </div>
    </div>
</div>
</body>
</html>

</body>
</html>