<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="referrer" content="no-referrer" />
</head>
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/getUrlParam.js"></script>
<script>
  window.onload=function (){
    showFuzzyQueryPosts()
    getAnimal()
    showFollowOrNot()
    getPosition()
    getUsernameAndAvator()
  }
  function getPosition(){
    $.get({
      url:"/user/getPosition",
      success:function (data){
        if(data==1||data==2){
          let adminControl=document.getElementById("adminControl")
          adminControl.style.display="block"
        }
      }
    })
  }
  let animalsId=GetQueryString("id")
  function getAnimal(){
    $.get({
      url:"../animals/getNameAndPic",
      data:{"id":GetQueryString("id")},
      success: function (data){
        $("#animalName").html(data.split(";")[0])
        let animalPic=document.getElementById("animalPic")
        animalPic.src=data.split(";")[1]
      },
      error:function (){
        alert("error")
      }
    })
  }
  function showFollowOrNot(){
    $.get({
      url:"../user/focusOrNot",
      data:{"id":GetQueryString("id")},
      success: function (data){
        $("#focusButton").html(data)
      }
    })
  }
  function followOrCancel(){
    $.get({
      url: "../user/focusOrCancelFocus",
      data:{"id":GetQueryString("id")},
      success:function (data){
        $("#focusButton").html(data);
      }
    })
  }
  function showFuzzyQueryPosts(){
    let showPostIframe=document.getElementById("showPostIframe")
    showPostIframe.src="/post/fuzzyQueryPostsAndAnimalsId?id="+GetQueryString("id")+"&keyWords="+"";
  }
  function sendPostKeyWords(){
    $.get({
      url:"/post/fuzzyQueryPostsAndAnimalsId",
      data:{"keyWords":$("#keyWords").val(),
      "id":GetQueryString("id")},
      success:function (data){
        let showPostIframe=document.getElementById("showPostIframe");
        showPostIframe.src="/post/fuzzyQueryPostsAndAnimalsId?id="+GetQueryString("id")+"&keyWords="+$("#keyWords").val();
      }
    })
  }
  function releaseCommit() {
    if ($("#releaseTitle").val() == "" || $("#releaseContext").val() == "")
      alert("请输入标题或内容")
    else {
      $.get({
        url: "/post/toPost",
        data: {
          "postTitle": $("#releaseTitle").val(),
          "postPicUrl": "https://i01piccdn.sogoucdn.com/93f5a1419dbc2e41",
          "postContext": $("#releaseContext").val(),
          "animalId": GetQueryString("id")
        },
        success: function (data) {
          if (data == "true") {
            alert("发布成功，静待管理员审核");
            // window.location.href="/postRelease"
          }
        }
      })
    }
  }
  function getUsernameAndAvator(){
    $.get({
      url:"/user/getUsernameAndAvator",
      success:function (data){
        $("#topUsername").html(data.split(";")[0])
        let topAvator=document.getElementById("topAvator")
        topAvator.src=data.split(";")[1]
      }
    })
  }
</script>
</head>
<style>
  *{
    margin: 0;
    padding: 0;
  }
  .top{

    height: 5%;
    justify-content:center;
    vertical-align: middle;
    font-weight: 600;
    width: 100%;
    border:2px solid black;
    position: fixed;
    font-size: 22px;
    z-index: 3;
    background-color: black;
  }
  .search{
    height: 10%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 38px;
    line-height: 90px;
  }
  .content{
    top: 145px;
    width: 100%;
    position: absolute;
  }
  button{
    cursor: pointer;
  }
  a tr{
    display: block;
    margin-bottom: 0.5rem;
  }
</style>
<body>

<div class="top">
  <a href="/testMain">
  <img src="https://i0.hdslb.com/bfs/face/50d88bdca85f54280463cdb7126201565be7a52b.jpg@128w_128h_1o.webp" width="100px" height="35px" style="float:left" alt="">
  </a>
  <a href="/"><button style="float: right;color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 12px;">退出</button></a>

  <!--    <span><a href=""><button  style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;">反馈</button></a></span>-->
  <a href="/goPerson" target="_blank">
    <span style="float: right;margin-right: 30px;"><button style="color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 18px;" id="topUsername"></button></span>
    <img src="" alt="" id="topAvator" style="border-radius:35px;height: 35px;width: 35px;float: right;margin-right: 15px;">
  </a>
  <a href="/goAdminController" target="_blank">
  <button id="adminControl" style="display: none;float: right;color: white;margin-left: 70px;margin-right: 30px;height: 35px;width: 130px;background-color: #ff6a00;outline: none;border: none;font-size: 18px">管理员控制台</button>
  </a>
  <!--    <span style="float: right;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;cursor: auto">天气</button></span>-->
  <!--    <span style="float: right;padding-right: 50px;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color:black;font-size: 22px;cursor: auto">城市</button></span>-->
</div>

<div class="search">
  <input type="text" style="height: 40px;width: 450px;border-radius: 10px;border: 2px solid black;font-size: 20px" id="keyWords" onchange="sendPostKeyWords()">
</div>

<div style="position: absolute;top: 110px;border: 1px solid black;margin: auto;width: 100%;height: 130px">
  <div style="margin: auto;width: 60%;height: 90%">
    <img src="" id="animalPic" style="background-color: black;height: 70px;width: 70px;border-radius: 50px;margin-top: 10px;margin-left: 20px" >
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 30px;font-weight: bold" id="animalName"></span>
    &nbsp;&nbsp;<button style="height: 30px;width: 80px;font-size: 22px" id="followButton" onclick="followOrCancel()"><span id="focusButton"></span></button>
  </div>
</div>
<div style="width: 100%;height: 60px;position: absolute;top:240px">
  <table style="margin: auto">
    <tr>
      <td >标题</td>
      <td><input  id="releaseTitle" type="text"></td>
    </tr>
    <tr>
      <td >内容</td>
      <td><input id="releaseContext" type="text" style="height: 30px"></td>
    </tr>
    <tr>
      <td colspan="2"><button id="releaseCommit" onclick="releaseCommit()">提交</button></td>
    </tr>
  </table>
</div>
<div style="position:absolute;top:320px;width: 100%;height: 100%" >
  <iframe src="" id="showPostIframe" frameborder="0" style="width: 100%;height: 100%"></iframe>
</div>

</body>
</html>