<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer" />
  <title>Title</title>
  <script src="/js/jquery-3.6.0.js"></script>
  <script th:inline="javascript">
    function goDetails(id){
      top.location.href="/post/goDetails?postId="+id;
    }
    function getUserPic(id){
      let username=$("#postUser"+""+id).text()
      $.get({
        url:"../user/getUserPic",
        data:{username:username},
        success:function (data){
          let userPic=document.getElementById("postUserPic"+id)
          userPic.src=data
        }
      })
    }
  </script>
</head>
<body>
<div style="border: 1px solid black;border-radius:20px;height: 150px;width: 40%;margin: auto" th:each="posts:${posts}">
  <a href="javascript:void(0);" th:onclick="'javascript: goDetails('+${posts.postId}+')'">
    <!--           postPicUrl='+${passPosts.postPicUrl}-->
  <div style="height: 100%;width: 20%;float: left">
    <div style="height: 30%;width: 80%;margin: auto;margin-top: 30%"><img src="https://i01piccdn.sogoucdn.com/93f5a1419dbc2e41" th:id="'postUserPic'+${posts.postId}" th:onload="'javascript: getUserPic('+${posts.postId}+')'" style="background-color: black;width: 50px;height: 50px;border-radius: 25px" alt=""></div>
    <div style="height: 10%;width: 80%;margin-left: 5%;margin-top: 5%"><span style="font-size: 12px" th:id="'postUser'+${posts.postId}" th:text="${posts.postUser}"></span></div>
  </div>

  <div style="height: 100%;width: 77%;float: left;margin-left: 2%">
    <div style="height: 15%;width: 100%;    word-wrap:break-word;word-break: break-all; display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 1;overflow: hidden;">
      <span id="postTitle" th:text="${posts.postTitle}" style="font-size: 20px;font-weight:bold"></span></div>
    <div style="height: 70%;width: 100%; word-wrap:break-word;word-break: break-all;display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 5;overflow: hidden;">
      <span id="postContext" th:text="'&nbsp;&nbsp;&nbsp;'+${posts.postContext}" style="font-size: 12px"> </span></div>
    <div style="height: 15%;width: 100%">
      <span style="float: right;margin-right: 10px">❤<span style="margin-right: 25px" id="postLikes" th:text="${posts.likeCounts}"></span></span>
      <span style="float: right;margin-right: 80px" id="postDate" th:text="${posts.postDate}"></span>
    </div>
  </div>
  </a>
</div>
</body>
</html>