<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="referrer" content="no-referrer" />
  <script src="/js/jquery-3.6.0.js"></script>
  <script>
    window.onload=function(){
      getUsernameAndAvator()
      getPosition()
      let manageIframe=document.getElementById("manageIframe")
      manageIframe.src="/testWebBack"
    }
    function getUsernameAndAvator(){
      $.get({
        url:"/user/getUsernameAndAvator",
        success:function (data){
          $("#topUsername").html(data.split(";")[0])
          let topAvator=document.getElementById("topAvator")
          topAvator.src=data.split(";")[1]
        }
      })
    }
    function userManager(){
      $.get({
        url:"/user/queryAll",
        success:function (){
          let manageIframe=document.getElementById("manageIframe")
          manageIframe.src="/user/queryAll"
        }
      })
    }
    function getPosition(){
      $.get({
        url:"/user/getPosition",
        success:function (data){
          if(data==1||data==2){
            let adminControl=document.getElementById("adminControl")
            adminControl.style.display="block"
            let mangerLi=document.getElementById("mangerLi")
            mangerLi.style.display="inline"
          }
        }
      })
    }
    function animalJudge(){
      $.get({
        url:"/animals/showAnimals",
        success:function(){
          let manageIframe=document.getElementById("manageIframe")
          manageIframe.src="/animals/showAnimals"
        },
        error:function(){
          alert("失败咯")
        }
      })
    }
    function postsJudge(){
      $.get({
        url:"/post/showPosts",
        success:function(){
          let manageIframe=document.getElementById("manageIframe")
          manageIframe.src="/post/showPosts"
        }
      })
    }
    function getDonationsDetails(){
      $.get({
        url:"user/getDonation",
        success: function(data){
          let manageIframe=document.getElementById("manageIframe")
          manageIframe.src="/user/getDonation"
        }
      })
    }
    function goWebBack(){
      let manageIframe=document.getElementById("manageIframe")
      manageIframe.src="/testWebBack"
    }
  </script>
</head>
  <style type="text/css">
    .top{

      height: 5%;
      justify-content:center;
      vertical-align: middle;
      font-weight: 600;
      width: 100%;
      border:2px solid black;
      position: fixed;
      font-size: 22px;
      z-index: 3;
      background-color: black;
    }
    .left{
      width: 10%;
      height: 600px;
      margin-left: 10%;
      float: left;
    }
    iframe{
      width:70%;
      height: 600px;
      float: contour;
    }
    .right{
      width:29%;
      height: 600px;
      float: right;
    }
    .channelText{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:whitesmoke;
      font-size: 1.4rem;
      font-weight: bolder;
      height: 3rem;
      width: 7.5rem;
      border-bottom: 1px solid black;
    }
    a{
      text-decoration: none;
      color:black;
    }
  </style>
</head>
<body>
<div class="top">
  <a href="/testMain">
    <img src="https://i0.hdslb.com/bfs/face/50d88bdca85f54280463cdb7126201565be7a52b.jpg@128w_128h_1o.webp" width="100px" height="35px" style="float:left" alt="">
  </a>
  <a href="/"><button style="float: right;color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 12px;">退出</button></a>
  <!--    <span><a href=""><button  style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;">反馈</button></a></span>-->
  <a href="/goPerson" target="_blank">
    <span style="float: right;margin-right: 30px;"><button style="color: white;height: 35px;width: 100px;border: none;outline: none;background-color: black;font-size: 18px;" id="topUsername"></button></span>
    <img src="" alt="" id="topAvator" style="border-radius:35px;height: 35px;width: 35px;float: right;margin-right: 15px;">
  </a>
  <a href="/goAdminController" target="_blank">
    <button id="adminControl" style="display: none;float: right;color: white;margin-left: 70px;margin-right: 30px;height: 35px;width: 130px;background-color: #ff6a00;outline: none;border: none;font-size: 18px">管理员控制台</button>
  </a>
  <!--    <span style="float: right;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color: black;font-size: 22px;cursor: auto">天气</button></span>-->
  <!--    <span style="float: right;padding-right: 50px;"><button style="color: white;height: 35px;width: 70px;border: none;outline: none;background-color:black;font-size: 22px;cursor: auto">城市</button></span>-->
</div>
<div style="position: absolute;top: 50px;width: 80%;margin-left:7% ">
<div class="left">
  <nav>
    <ul style="list-style:none; padding: 0; margin: 0;">
      <a href="javascript:goWebBack();" class="channelItem"><li class="channelText" style="margin: 0"><img src="https://i0.hdslb.com/bfs/face/50d88bdca85f54280463cdb7126201565be7a52b.jpg@128w_128h_1o.webp" style="height: 50px;width: 120px" alt=""></li></a>
      <a href="javascript:getDonationsDetails();" class="channelItem"><li class="channelText">捐赠记录 <hr></li></a>
      <a href="javascript:postsJudge();"class="channelItem"><li class="channelText">帖子审核 <hr></li></a>
      <a href="javascript:animalJudge();"class="channelItem"><li class="channelText">动物审核 <hr></li></a>
      <a href="javascript:userManager();"class="channelItem" id="mangerLi" style="display: none"><li class="channelText">用户管理 <hr></li></a>
    </ul>
  </nav>
</div>
<div style="top:70px">
<iframe name="manageIframe" id="manageIframe" ></iframe>
</div>
</div>
</body>
</html>